<header class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "myapp_logo.png", alt: "MyApp Logo", size: "40x40", class: "rounded-circle" %>
    <% end %>
    <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "タスク一覧", tasks_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "やるタスク", do_tasks_tasks_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "やらないタスク", dont_tasks_tasks_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ", user_path(current_user), class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path,
                      data: { turbo_method: :delete },
                      class: "nav-link text-white" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
